<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Sample Page	</title>
	<atom:link href="http://localhost/sample-page/feed/" rel="self" type="application/rss+xml" />
	<link>http://materacekolo.gitlab.io/jaki-materac-wybrac-do-lozka/</link>
	<description>Jak wybrać materac do łóżka?</description>
	<lastBuildDate>Fri, 03 Jul 2020 21:59:56 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.4.2</generator>
</channel>
</rss>
